<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-GB" }}">

{{- partial "layouts/head/head.html" . -}}

<body class="{{ .Type }}"
      ondragstart="return false;"
      ondrop="return false;"
      draggable="false">

{{- partial "debug.html" . -}}

<div id="content">
    {{ block "main" . }}{{ end }}
    {{- partialCached "layouts/footer.html" . -}}
</div>

{{- /* Non-render-blocking scripts */ -}}
{{ with resources.Get "js/apply-theme.js" -}}
    {{ with resources.ExecuteAsTemplate "js/apply-theme.js" $ . | minify | fingerprint }}
        <script src="{{ .RelPermalink }}" defer></script>
    {{ end }}
{{ end }}

{{ with resources.Get "js/copy-heading-link.js" | minify | fingerprint -}}
    <script src="{{ .RelPermalink }}" defer></script>
{{ end }}

{{- /* PhotosSwipe CSS and JS */ -}}
{{- partial "layouts/head/photoswipe.html" . -}}

{{- /* Gallery Filter JS */ -}}
{{- if .Page.Store.Get "galleryFilterUsed" -}}
    {{- with resources.Get "js/gallery-filter.js" | minify | fingerprint -}}
        <script src="{{ .RelPermalink }}" defer></script>
    {{ end }}
{{- end -}}

</body>
</html>
