<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-GB" }}">

{{- partial "head" . -}}

<body class="{{ .Type }}"
      ondragstart="return false;"
      ondrop="return false;"
      draggable="false">

<div id="content">
    {{ block "main" . }}{{ end }}
    {{- partial "footer" . -}}
</div>

{{ $applyThemeJS := resources.Get "js/apply-theme.js" | resources.Minify -}}
<script src="{{ print $applyThemeJS.RelPermalink "?" now.Unix }}" defer></script>

{{ $copyHeadingLinkJS := resources.Get "js/copy-heading-link.js" | resources.Minify -}}
<script src="{{ print $copyHeadingLinkJS.RelPermalink "?" now.Unix }}" defer></script>

</body>
</html>
