<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-GB" }}">

{{- partial "head" . -}}

<body class="{{ .Type }}"
      ondragstart="return false;"
      ondrop="return false;"
      draggable="false">

{{- partial "debug" . -}}

<div id="content">
    {{ block "main" . }}{{ end }}
    {{- partial "footer" . -}}
</div>

{{ $applyThemeJS := resources.Get "js/apply-theme.js" | minify | fingerprint -}}
<script src="{{ $applyThemeJS.Permalink }}" defer></script>

{{ $copyHeadingLinkJS := resources.Get "js/copy-heading-link.js" | minify | fingerprint -}}
<script src="{{ $copyHeadingLinkJS.RelPermalink }}" defer></script>

{{- /* PhotosSwipe CSS and JS */ -}}
{{- partial "photoswipe" . -}}

{{- /* Gallery Filter JS */ -}}
{{- if .Page.Store.Get "galleryFilterUsed" -}}
    {{- $galleryFilterJS := resources.Get "js/gallery-filter.js" | minify | fingerprint -}}
    <script src="{{ $galleryFilterJS.RelPermalink }}" defer></script>
{{- end -}}

</body>
</html>
