{{ define "main" -}}

    {{- partial "layouts/header.html" . -}}

    <div id="middle" class="direction-row">
        <main>
            <div class="card">
                <h1>{{ (.Site.GetPage "/posts").Title }}</h1>

                {{ $posts := where .Site.RegularPages "Type" "posts" }}

                {{ if $posts }}
                    <p>
                        {{- range .Translations | default site.Home.Translations -}}
                            {{ T "more-posts" }}
                            <a href="{{ .RelPermalink }}" hreflang="{{ .Language.Locale }}">
                                {{- T (print "lang.in." .Language) -}}
                            </a>
                        {{- end -}}
                    </p>
                {{ end }}

                <ul class="links type-links-neutral state-interaction-disabled">
                    {{ range (.Paginate $posts 7).Pages }}
                        {{- .Render "summary" -}}
                    {{ end }}
                </ul>

                {{ partial "pagination.html" . }}

                <div class="article-content">
                    {{- .Content -}}
                </div>
            </div>
        </main>

        {{- with partial "layouts/sidebar.html" . -}}
            <aside class="type-links-neutral type-larger-click-areas">
                {{ . }}
            </aside>
        {{- end -}}
    </div>

{{ end }}
