{{ define "main" -}}

    {{- partial "layout/header.html" . -}}

    <div id="middle" class="direction-row">
        <main>
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

            <div class="card">
                <h1>{{ (.Site.GetPage "/posts").Title }}</h1>

                {{- .Content -}}
                
                <ul class="links">
                    {{ range $paginator.Pages }}
                        {{- .Render "summary" -}}
                    {{ end }}
                </ul>

                {{- partial "components/pagination.html" . -}}
            </div>
        </main>

        {{- partial "layout/sidebar.html" . -}}
    </div>

{{ end }}
