{{ define "main" -}}

    {{- partial "layouts/header.html" . -}}

    <div id="middle" class="direction-row">
        <main>
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

            <div class="card">
                <h1>{{ (.Site.GetPage "/posts").Title }}</h1>

                {{- .Content -}}

                <ul class="links state-interaction-disabled">
                    {{ range $paginator.Pages }}
                        {{- .Render "summary" -}}
                    {{ end }}
                </ul>

                {{- partial "components/pagination.html" . -}}
            </div>
        </main>

        {{- with partial "layouts/sidebar.html" . -}}
            <aside class="type-larger-click-areas">
                {{ . }}
            </aside>
        {{- end -}}
    </div>

{{ end }}
