{{ define "main" -}}

    {{- partial "layouts/header.html" . -}}

    <div id="middle" class="direction-row">
        <main>
            <div class="card">
                <article>
                    <h1>
                        <a href="{{ .RelPermalink }}" rel="bookmark" aria-current="page">{{ .Title }}</a>
                    </h1>

                    <div class="article-content">
                        {{ .Content -}}

                        {{- if .Pages }}
                            <ul class="links state-interaction-disabled">
                                {{- range .Paginator.Pages -}}
                                    {{- .Render "summary" -}}
                                {{- end -}}
                            </ul>
                        {{ end }}
                    </div>
                </article>
            </div>
        </main>

        {{- with partial "layouts/sidebar.html" . -}}
            <aside class="type-larger-click-areas">
                {{ . }}
            </aside>
        {{- end -}}
    </div>
{{ end }}
