{{- /*
    Stylesheet: assets/sass/components/_summary.scss
*/ -}}

{{- $datePublished := .PublishDate.Format .Site.Params.dateFormat | safeHTML -}}

<li class="summary">
    <a href="{{ .RelPermalink }}">
        <span>{{ .Title }}<br></span>
        <span class="size-s">
            {{- if .Description -}}
                {{- .Description | truncate 154 "…" -}}
            {{- else -}}
                {{- .Summary | plainify | truncate 154 "…" -}}
            {{- end -}}
        <br></span>
    </a>

    {{- range .Params.tags -}}
        {{- with (index site.Taxonomies.tags .).Page -}}
            {{ partial "components/tag.html" (dict "context" . "lineBreak" true) }}
        {{- end -}}
    {{- end -}}
    <time datetime="{{- .PublishDate.Format .Site.Params.dateFormatISO | safeHTML -}}">
        {{- $datePublished -}}
    </time>
</li>