@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/animations',
  'base/base',
  'base/fonts',
  'base/helpers',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  
  'layout/card',
  'layout/lightbox',
  'layout/navigation',
  'layout/sidebar';

// 5. Components
@import
  'components/gallery/gallery',
  'components/gallery/gallery-image',
  'components/gallery/gallery-filter',
  
  'components/icon',
  'components/links',
  'components/pagination',
  'components/post-preview';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
  
// todo Move everything below into appropriate stylesheets
table {
	border-collapse: collapse;

	td {
		border: 1px solid var(--color-grey-light);
		padding: 5px;
	}
}

// Don't let the user select text in these (ugly)
header,
footer,
nav,
ul.links,
.gallery,
h1,
h2,
h3 {
	@include no-interaction;
}

#middle {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	max-width: 100%;
}

.links + .article-content {
	margin-top: 20px;
}

// todo Use a placeholder with extend or something
#content > footer,
.top-bar {
	display: flex;
	padding: 0 8px;
	align-items: center;
	height: 1.4em; // Fixed height to prevent jumping (if empty)

	a {
		color: var(--color-text-light);
		
		// Increase size of active element
		padding: 13px 12px;
		margin: -13px 0;
	}
}

// todo Move MQ into stylesheets https://stackoverflow.com/questions/42160426/multiple-media-queries-issue-when-using-sass-mixin-and-content
@media screen and (min-width: $bp-medium) {
	#content {
		margin: 0 auto;
		max-width: $max-width;
	}

	body {
		margin: 32px auto;
	}

	header div.card {
		flex-wrap: nowrap;
	}
	
	header nav {
		margin: 16px 0;
	}
	
	main + aside {
		margin-left: 16px;
	}

	#middle {
		flex-direction: row;
	}

	.gallery-image {
		width: 25%;
		max-width: 25%;
	}
}
