@charset "UTF-8";

// Based on Sass Boilerplate https://github.com/KittyGiraudel/sass-boilerplate

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base
@import
  'base/base',
  'base/animations',
  'base/fonts',
  'base/helpers',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/article',
  'layout/card',
  'layout/content',
  'layout/footer',
  'layout/header',
  'layout/main',
  'layout/middle',
  'layout/navigation',
  'layout/sidebar';

// 5. Components
@import
  'components/button',
  'components/gallery',
  'components/icon',
  'components/input',
  'components/links',
  'components/pagination',
  'components/post-preview',
  'components/table';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

// 3. Base again (place at the end)
@import
  'base/media-queries';

