{{- /*
    Stylesheet: assets/sass/components/_breadcrumbs.scss
*/ -}}

{{ $links := slice }}

{{ range .Ancestors.Reverse }}
    {{ if and (.Page) (not .IsHome) (not .Page.Sitemap.Disable) }}
        {{ $links = $links | append . }}
    {{ end }}
{{ end }}

{{ if $links }}
    {{- .Page.Store.Set "breadcrumbsUsed" true -}}

    <nav class="breadcrumbs" aria-label="{{ T "breadcrumbs" }}">
        <ol class="links type-links-neutral direction-row state-interaction-disabled">
            {{ range $links }}
                <li>
                    <a href="{{ .RelPermalink }}" title="{{ T "go-back-to" }} {{ .LinkTitle }}">{{ .LinkTitle }}</a>
                </li>
                <li aria-hidden="true">&nbsp;/&nbsp;</li>
            {{ end }}
        </ol>
    </nav>
{{ end }}