{{ $width := 160 }}
{{ $emailHash := sha256 (.Get 0) }}

{{ $URL := print "https://gravatar.com/avatar/" $emailHash "?s=" (mul $width 2) }}
{{ $gravatarURL := "" }}

{{- with try (resources.GetRemote $URL) -}}
    {{ with .Err }}
        {{ errorf "%s" . }}
    {{ else with .Value | resources.Copy "images/" }}
        {{- $gravatarURL = (. | fingerprint).RelPermalink -}}
    {{- else -}}
        {{ errorf "Unable to get remote resource %q" . }}
    {{- end -}}
{{- end -}}

{{ with $gravatarURL }}
<img src="{{ $gravatarURL }}" alt="{{ T "profile-picture" }}" width="{{ $width }}">
{{ end }}

