.bar {
  display: flex;
  padding: 0 0.5rem 0.5rem;
  align-items: center;
  height: 34px; // Fixed height to prevent jumping

  header & {
    justify-content: flex-end;
  }

  :any-link {
    margin: 0 12px;
    color: var(--color-text-light);
  }

  :any-link:hover,
  :any-link:focus-visible {
    color: var(--color-hover);
  }

  button {
    margin: 0 12px;
  }
}