.bar {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  height: 1.4em; // Fixed height to prevent jumping if empty
  @extend %no-interaction;

  header & {
    justify-content: flex-end;
  }

  a,
  a:visited {
    padding: 0 12px;
    color: var(--color-text-light);
  }

  a:hover,
  a:focus-visible {
    color: var(--color-hover);
  }

  button + a {
    margin-left: 1em;
  }
}