.breadcrumb {
  margin: 0;

  ol.links,
  ul.links {
    li {
      margin-top: 0;

      a {
        font-size: 1.5rem;
      }

      &+li::before {
        display: inline-block;
        height: 1em;
        font-size: 1.5rem;
        margin: 0 0.25em;
        content: "/";
      }
    }
  }
}