// -----------------------------------------------------------------------------
// This file contains all styles related to the breadcrumbs.
//
// themes/blank/layouts/partials/breadcrumbs.html
//
// -----------------------------------------------------------------------------

.breadcrumbs {
  margin: 0;

  h1 {
    display: inline-block;
    margin: 0;
  }

  .links li {
    margin-top: 0;
  }
}