button {
  -webkit-appearance: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %click-area-small;

  &.style-plain {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      svg {
        fill: var(--color-hover);
      }
    }
  }

  &.size-small {
    .icon {
      height: 25px;
    }
  }
}
