button {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover svg,
  &:focus-visible svg {
    fill: var(--color-hover);
  }

  &.type-plain {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

// Special hover colour for the sun icon
#toggle-theme-light {
  &:hover svg,
  &:focus-visible svg {
    fill: #f9e72a;
  }
}
