.gallery {
  display: flex;
  flex-wrap: wrap;
  @extend %no-interaction;
  margin: -5px;

  form {
    width: 100%;
    position: relative;
  }
}

.gallery-filter {
  padding: 0 0 20px;
  display: flex;
  margin: 0 5px;
  flex-basis: 100%;
}

// <a class="gallery-image>
.gallery-image {
  display: block;
  width: 50%;
  max-width: 50%;
  padding: 5px;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 0;
  overflow: hidden;
  transition: transform var(--ease), opacity var(--ease);
  @extend %click-area-small;

  &:hover,
  &:focus-visible {
    .gallery-image-thumb {
      transform: scale(1.03);
    }
  }

  &.state-visible {
    opacity: 1;
  }

  &.state-hidden {
    opacity: 0;
  }

  // <img class="gallery-image-thumb">
  &-thumb {
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

@mixin gallery-image-medium {
  .gallery-image {
    width: 25%;
    max-width: 25%;
  }
}
