.gallery {
  display: flex;
  gap: 10px;
  margin: 0.5rem 0;

  &.size-s {
    gap: 4px;
  }

  .gallery-image {
    max-width: 150px;
    max-height: 150px;
  }

  &.type-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.size-s {
      grid-template-columns: repeat(auto-fit, minmax(59px, 1fr));
    }

    form {
      width: 100%;
      position: relative;
    }

    .gallery-image {
      display: block;
      max-width: none;
      max-height: none;
    }

    .gallery-thumb {
      aspect-ratio: 1 / 1;
    }
  }
}

.gallery-filter {
  display: flex;
  flex-basis: 100%;
  padding-bottom: 0.5rem;
}

// <a class="gallery-image">
.gallery-image {
  font-size: 0;
  overflow: hidden;
  border-radius: 8px;
  outline-offset: 3px;
  transition: var(--transitions-a);

  &:hover,
  &:focus-visible {
    outline-offset: 0;

    .gallery-thumb {
      opacity: 0.75;
    }

    span {
      color: var(--color-text);
    }
  }

  span {
    display: inline-block;
    font-size: rem(12px);
    color: var(--color-text-light);
    padding: 5px 0;
    overflow-wrap: anywhere;
  }
}

.gallery-thumb {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  background-color: var(--color-site-bg);
  border-radius: 8px;
  transition: opacity var(--ease);
  @extend %no-interaction;
}

// PhotoSwipe
.pswp__zoom-wrap img,
.pswp__img {
  border-radius: 8px;
  transition: border-radius var(--ease);
}

.pswp--open {
  .pswp__zoom-wrap img,
  .pswp__img {
    border-radius: 0;
  }
}

@mixin mq-min-tablet-gallery-image {
  .gallery.type-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin mq-min-medium-gallery-image {
  .gallery.type-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}