.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  form {
    width: 100%;
    position: relative;
  }
}

.gallery-filter {
  padding: 0 0 20px;
  display: flex;
  flex-basis: 100%;
}

#gallery-no-results.state-hidden {
  display: none;
}

// <a class="gallery-image>
.gallery-image {
  display: block;
  width: calc(50% - 10px);
  margin: 5px;
  text-align: left;
  font-size: 0;
  overflow: hidden;
  border-radius: 8px;
  outline-offset: 3px;
  transition: var(--transitions-a);

  &:hover,
  &:focus-visible {
    outline-offset: 0;

    .gallery-thumb {
      opacity: 0.75;
    }

    span {
      color: var(--color-text);
    }
  }

  &.state-hidden {
    display: none;
  }

  span {
    display: inline-block;
    font-size: rem(12px);
    color: var(--color-text-light);
    text-align: left;
    padding: 5px 0 10px 0;
    overflow-wrap: anywhere;
    word-break: normal;
    text-wrap: auto;
  }
}

// <img class="gallery-thumb">
.gallery-thumb {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--color-site-bg);
  border: 1px solid var(--color-text-light);
  border-radius: 8px;
  transition: opacity var(--ease);
  @extend %no-interaction;
}

.pswp__zoom-wrap img,
.pswp__img {
  border-radius: 8px;
  transition: border-radius var(--ease);
}

.pswp--open .pswp__zoom-wrap img,
.pswp--open .pswp__img {
  border-radius: 0;
}

@mixin mq-min-medium-gallery-image {
  .gallery-image {
    width: calc(25% - 10px);
  }
}
