.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms $timing-apple;
  will-change: opacity;
  transform: translateZ(0);
  height: 100%;
  width: auto;
  box-sizing: content-box;

  svg {
    width: auto;
    height: 100%;

    path {
      fill: var(--color-text-light); // Update manually in baseof.html (critical CSS)
    }
  }

  .top-bar & {
    svg {
      position: relative;
      top: -1px; // Visual centering
    }
  }
}
