a.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: opacity 200ms $timing-apple;
	height: 100%;
	width: auto;
	box-sizing: content-box;
	
	&:hover {
		opacity: 0.7;
	}
	
	svg {
	    width: auto;
    	height: 100%;
	
		path {
			fill: var(--color-text);
		}
	}
	
	.top-bar & {
		position: relative;
		top: -1px; // Visual centering
	}
}
