.links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: rem(18px);

  li {
    margin: 0;
  }

  li + li {
    margin-top: 0.5em;
  }

  :any-link {
    display: inline-block;
    white-space: nowrap;

    &:has(span.size-s) {
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }

    @include link-neutral;
  }

  span {
    display: inline-block;
    text-decoration: underline;
    white-space: normal;

    &.type-light {
      color: var(--color-text-light);
      text-decoration: none;
    }

    &.size-s {
      text-decoration: none;
      color: var(--color-text); // Specific selector to prevent different colour on hover
    }
  }

  // Directions
  &.direction-row {
    li {
      display: inline-block;
      margin: 0;
    }

    li + li {
      margin-left: 20px;
    }
  }

  // Sizes
  &.size-s {
    &.direction-row {
      li + li {
        margin-left: 1rem;
      }
    }
  }
}

h1 + .links {
  margin-top: 1rem;
}