ol.links,
ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: rem(18px);
  @extend %no-interaction;

  li {
    margin: 0.5em 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    white-space: nowrap;

    &,
    &:visited {
      color: var(--color-text);
    }
  }

  a:hover {
    color: var(--color-hover);
  }

  // Directions
  &.direction-row {
    li,
    h2 {
      display: inline-block;
    }
  }

  // Sizes
  &.size-small {
    li {
      margin: 5px 0;
    }

    &.direction-row {
      li {
        margin-right: 16px;
      }
    }
  }

  h1 + & {
    margin-top: 1rem;
  }
}
