.links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: rem(18px);
  @extend %no-interaction;

  li {
    margin: 0.5em 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    white-space: nowrap;

    &:has(span.size-small) {
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }

    @include link-neutral;
  }

  span {
    display: inline-block;
    text-decoration: underline;
    white-space: normal;

    &.type-light {
      color: var(--color-text-light);
      text-decoration: none;
    }

    &.size-small {
      text-decoration: none;
      color: var(--color-text); // Specific selector to prevent different colour on hover
    }
  }

  // Directions
  &.direction-row {
    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }

    li:last-of-type {
      margin-right: 0;
    }
  }

  // Sizes
  &.size-s {
    &.direction-row {
      li {
        margin-right: 1rem;
      }
    }
  }
}

h1 + .links {
  margin-top: rem(15px);
}

ul + .links {
  margin-top: 0.5em;
}