.links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: rem(18px);
  @extend %no-interaction;

  li {
    margin: 0.5em 0;
  }

  li:first-of-type {
    margin-top: 0;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  a,
  a:visited {
    display: inline-block;
    color: var(--color-text);
    white-space: nowrap;
  }

  a:hover,
  a:focus-visible {
    color: var(--color-hover);
  }
  
  a span {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-light);

    &.post-summary {
      color: var(--color-text); // Specific to prevent different colour on hover
    }
  }
  
  p {
    font-size: 1rem;
    margin-top: 4px;
  }

  h1 + & {
    margin-top: rem(15px);
  }

  // Directions
  &.direction-row {
    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }

    li:last-of-type {
      margin-right: 0;
    }
  }

  // Sizes
  &.size-s {
    &.direction-row {
      li {
        margin-right: 1rem;
      }
    }
  }
}

ul + .links {
  margin-top: 0.5em;
}