ol.links,
ul.links {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 18px;

	li {
		margin: 12px 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	
	a {
	    white-space: nowrap;
		// Increase size of active element
		padding: 14px 12px;
		margin: -14px -12px;
	}
	
	// Directions
	&.direction-row {
		li,
        h2 {
			display: inline-block;
		}
	}
	
	// Sizes
	&.size-small {
		li {
			margin: 5px 0;
		}
		
		&.direction-row {
			li {
				margin-right: 16px;
			}
		}
	}
}
