// -----------------------------------------------------------------------------
// This file contains all styles related to the pagination.
//
// themes/blank/layouts/partials/pagination.html
//
// -----------------------------------------------------------------------------

.pagination {
  margin-top: auto;
  padding-top: 20px;
  color: var(--color-text-light);
}
