.post-preview + .post-preview {
  margin-top: 20px;
}

.post-summary {
  max-width: 100%;
  margin: 1px 0 4px 0;
  overflow-wrap: anywhere;
  word-break: normal;
  hyphens: auto;
  text-wrap: auto;
}

.post-summary,
time {
  font-size: rem(14px);
}
