.post-summary {
  overflow: hidden;
  max-width: 100%;
  text-overflow: clip;
  word-break: normal;
  overflow-wrap: anywhere;
  margin: 0.5em 0;
  hyphens: auto;
}

.post-summary,
time {
  font-size: rem(14px);
}
