table {
  border-collapse: collapse;

  th,
  td {
    padding: 5px 10px;
  }
  
  th {
    word-wrap: break-word;
    vertical-align: bottom;
  }
  
  td {
    border: 1px solid var(--color-grey-light);
  }
}
