// -----------------------------------------------------------------------------
// This file contains all styles related to tags.
//
// themes/blank/layouts/_partials/components/tag.html
//
// -----------------------------------------------------------------------------

.tag {
  display: inline-block;
  background-color: var(--color-text-light);
  padding: 2px 4px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color var(--ease), var(--transitions-a);
  font-size: rem(14px);
  margin-right: 5px;

  &:hover,
  &:focus-visible {
    background-color: $color-hover;
  }
}

a.tag:any-link {
  color: var(--color-content-bg); // Higher specificity to override other links
}

h1 + .tag {
  margin-top: 0.5rem;
}