a.tag {
  display: inline-block;
  background-color: var(--color-text-light);
  padding: 2px 4px;
  margin: 3px 0;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color var(--ease), var(--transitions-a);
  @extend %no-interaction;

  &,
  & + span {
    font-size: rem(14px);
  }

  &,
  .links & {
    color: var(--color-content-bg);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-hover);
  }

  + a.tag {
    margin-left: 5px;
  }
}