a.tag {
  display: inline-block;
  background-color: var(--color-text-light);
  padding: 2px 4px;
  margin: 3px 0;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 200ms $timing-apple;
  @extend %no-interaction;
  @extend %click-area-medium;

  &,
  & + span {
    font-size: rem(14px);
  }
  
  &,
  ul.links & {
    color: var(--color-content-bg);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-hover);
    text-decoration: none;
    
    &::before {
      background-color: transparent;
    }
  }

  + a.tag {
    margin-left: 5px;
  }
}