@keyframes fade-in-scale {
	0% {
		opacity: 0;
		transform: scale(0);
    	-webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@keyframes fade-out-scale {
	0% {
		display: block;
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	
	100% {
		display: none;
		opacity: 0;
		transform: scale(0);
    	-webkit-transform: scale(0);
	}
}
