// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
  box-sizing: border-box; // Set up a decent box model on the root element
  overflow-y: scroll;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Custom Resets
:focus {
	outline: none;
}

/**
 * Basic styles for links
 */
a {
	color: $color-text;
	text-decoration: none;

	&:hover {
		color: $color-text;
		text-decoration: underline;
	}
  
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition: background-color 200ms $timing-apple, transform 200ms $timing-apple;

	&:focus {
		background-color: #c4ceff;
		
		&:active {
			background-color: transparent;
		}
	}

	&:active {
		background-color: transparent;

		&:focus {
			background-color: transparent;
		}
	}
	
	&:visited {
	  color: $color-text;
	}
}
