// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  @include includeDark; // Default theme

  &.theme-light {
    @include includeLight;
  }

  @media (prefers-color-scheme: light) {
    &:not(.theme-dark):not(.theme-light) {
      @include includeLight;
    }
  }

  box-sizing: border-box; // Set up a decent box model on the root element
  overflow-y: scroll;
  color: var(--color-text);
  background-color: var(--color-site-bg);
  transition: background-color var(--ease);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 1rem;
  min-height: 100vh;
  touch-action: manipulation;
}

@mixin mq-min-medium-body {
  body {
    margin: 2rem 1rem;
    min-height: auto;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Styles for focusable elements
a,
button {
  border-radius: 0.5em;
  outline: 4px solid transparent;
  outline-offset: 8px;
  transition: var(--transitions-a);
  @extend %click-area-small;
}

:focus:not(input) {
  outline-color: var(--color-focus);
  outline-offset: 5px;
}

// Keyboard focus only - hide outline invoked by mouse
:focus:not(:focus-visible) {
  outline: none;
}

/**
 * Basic styles for links
 */
a,
a:visited {
  color: var(--color-brand-text);
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
}

a:hover,
a:focus-visible {
  color: var(--color-hover);
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

@mixin mq-min-medium-ul {
  ul {
    margin: 0 0 0 2em;
  }
}

time {
  color: var(--color-text-light);

  a.tag + & {
    margin-left: 0.5em;
  }
}