// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  overflow-y: scroll;
  transition: background-color var(--ease);
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 1rem 0.5rem;
}

// Styles for focusable elements
a,
button {
  border-radius: 0.5em;
  outline: 4px solid transparent;
  transition: var(--transitions-a);
}

:focus:not(input) {
  outline-color: $color-focus;
  outline-offset: 5px;
}

// Keyboard focus only - hide outline invoked by mouse
:focus:not(:focus-visible) {
  outline: none;
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

@media (pointer: coarse) {
  li a {
    display: inline-block;
    min-height: 24px;
  }
}

@mixin mq-min-medium-ul {
  ul {
    margin: 0 0 0 2em;
  }
}

@mixin mq-min-tablet-body {
  body {
    margin: 2rem 1rem;
  }
}