// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
	&,
	&.theme-light {
		@include includeLight;
	}

	&,
	&.theme-dark {
		@include includeDark;
	}
	
	box-sizing: border-box; // Set up a decent box model on the root element
	overflow-y: scroll;
	background-color: var(--color-site-bg);
}

body {
	margin: 24px 16px;
	background-color: var(--color-site-bg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 16px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Custom Resets
:focus {
	outline: none;
}

/**
 * Basic styles for links
 */
a {
	-webkit-tap-highlight-color: transparent;
	color: var(--color-text);
	text-decoration: none;
	transition: background-color 200ms $timing-apple, transform 200ms $timing-apple;

	&:hover {
		color: var(--color-text);
		text-decoration: underline;
	}  

	&:focus {
		background-color: var(--color-focus);
	}
	
	&:visited {
	  color: var(--color-text);
	}
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
	html {
		@include includeLight;
	}
	
	html.theme-dark {
		@include includeDark;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		@include includeDark;
	}
	
	html.theme-light {
		@include includeLight;
	}
}
