// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  @include includeDark;

  &.theme-light {
    @include includeLight;
  }

  &.theme-dark {
    @include includeDark;
  }

  @media (prefers-color-scheme: light) {
    @include includeLight;

    &.theme-dark {
      @include includeDark;
    }
  }
}

html {
  box-sizing: border-box; // Set up a decent box model on the root element
  overflow-y: scroll;
  background-color: var(--color-site-bg);
  transition: background-color var(--ease);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 16px;
  min-height: 100vh;
  touch-action: manipulation;
}

@mixin mq-min-medium-body {
  body {
    margin: 32px auto;
    min-height: auto;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Custom Resets
:focus {
  outline: none;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: underline;
  transition: color var(--ease);
  -webkit-tap-highlight-color: transparent;
  @extend %click-area-small;

  &,
  &:visited {
    color: var(--color-brand-text);
  }

  &:hover {
    color: var(--color-hover);
  }
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

@mixin mq-min-medium-ul {
  ul {
    margin: 0 0 0 2em;
  }
}

time {
  color: var(--color-text-light);

  a.tag + & {
    margin-left: 0.5em;
  }
}