// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// @font-face {
// 	font-family: 'Marek Omasta Ball Pen';
// 	src: url('/fonts/MarekOmastaBallPen-Regular.ttf') format('truetype');
// }
