// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Get more helpers: https://github.com/KittyGiraudel/sass-boilerplate/blob/master/stylesheets/base/_helpers.scss

// === Placeholders ===

%no-interaction {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

%click-area {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: -5px -1em;
    z-index: 1;
  }
}

// Sizes
%click-area-small {
  @extend %click-area;
}

%click-area-medium {
  @extend %click-area;

  &::before {
    inset: -1rem -1.5rem;
  }
}

%click-area-large {
  @extend %click-area;

  &::before {
    inset: -1.5rem -2rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
