// Template:
//@mixin  {
//	
//}

@media screen and (min-width: $bp-medium) {
  @include mq-min-medium-aside;
  @include mq-min-medium-body;
  @include mq-min-medium-card;
  @include mq-min-medium-gallery-image;
  @include mq-min-medium-input;
  @include mq-min-medium-middle;
  @include mq-min-medium-nav;
  @include mq-min-medium-ul;
}
