/**
 * Basic typography style for copy text
 */

h1,
h2,
h3,
.logo :any-link {
  font-weight: 500;
  margin: 0; // Update for H1 in critical.scss
}

h1,
.breadcrumbs .links {
  font-size: rem(26px);
}

h2 {
  font-size: rem(20px);
  padding: 0 0 1rem;
}

h3 {
  font-size: 1rem;
  padding-top: 20px;
}

span.size-s {
  font-size: rem(14px);
}