/**
 * Basic typography style for copy text
 */
body {
  color: $color-text;
  font: normal 100% / 1.4 $text-font-stack;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1 {
	article & {
		font-size: 1.5em;
	}
}

