/**
 * Basic typography style for copy text
 */
body {
  color: var(--color-text);
  font: normal 100% / 1.4 $text-font-stack;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h2 {
	div.card article & {
		font-size: 1.5em;
	}
}

h4 {
	margin-bottom: 0;
}

