/**
 * Basic typography style for copy text
 */
html {
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  margin: 0; // Update in baseof.html
}

h1,
.breadcrumbs .links {
  font-size: rem(26px);
}

h2 {
  font-size: rem(20px);
  margin: 0 0 16px;

  article & {
    margin: 1em 0 0.25em;
  }
}

h3 {
  font-size: 1rem;
  margin: 8px 0 3px;

  ul + & {
    margin-top: 20px;
  }
}

