/**
 * Basic typography style for copy text
 */

h1,
h2,
h3,
.logo a {
  font-weight: 500;
  margin: 0; // Update for H1 in baseof.html
}

h1,
.breadcrumbs .links {
  font-size: rem(26px);
}

h2 {
  font-size: rem(20px);
  padding: 0 0 1rem;

  article & {
    padding: 1em 0 0;
  }
}

h3 {
  font-size: 1rem;
  
  ul + & {
    padding-top: 20px;
  }
}
