// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
///  See in baseof.html

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

:root {
  --color-white-bg: #fdfdfd; // Update in baseof.html (color)

  --color-black-bg: #222;

  --color-grey-dark: #454545;
  --color-grey-light: #b8b8b8; // Update in baseof.html

  //--color-brand: #306e95; Unused, uncomment if needed
  --color-brand-text: #73add2; // Lightened by 25%
  --color-brand-light: #3c8abc; // Lightened by 10%

  --color-focus: #306e958f;
  --color-hover: var(--color-brand-light);

  --ease: 200ms cubic-bezier(0.4, 0, 0.25, 1);
}

@mixin includeLight {
  --color-text: var(--color-black-bg);
  --color-text-light: var(--color-grey-dark);

  --color-site-bg: var(--color-grey-light); // Update in baseof.html (themeColorLight)
  --color-content-bg: var(--color-white-bg);
}

@mixin includeDark {
  --color-text: var(--color-white-bg); // Update in baseof.html (color)
  --color-text-light: var(--color-grey-light);

  --color-site-bg: #000; // Update in baseof.html (themeColorDark, background-color)
  --color-content-bg: var(--color-black-bg); // Update in baseof.html (background-color)
}

/// Container's maximum width
/// @type Length
$max-width: 670px !default;

/// Media Query Breakpoints 
$bp-small: 320px;
$bp-medium: 670px;
$bp-large: 1024px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/images/' !default;
