// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif !default;
// $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

:root {
	--color-white: #fff;
	--color-white-bg: #fdfdfd;

	--color-black: #000;
	--color-black-bg: #222;

	--color-grey-dark: #454545;
	--color-grey-light: #eee;

	--color-brand: #306e95;
	--color-focus: var(--color-brand-bg);
}

@mixin includeLight {
	--color-text: #222;
	--color-text-light: var(--color-grey-dark);
	
	--color-brand-bg: #bcd8e9; // lighten color-brand, 44%
	
	--color-site-bg: var(--color-grey-light);
	--color-content-bg: var(--color-white-bg);
}

@mixin includeDark {
	--color-text: var(--color-white-bg);
	--color-text-light: var(--color-grey-light);
	
	--color-brand-bg: #204a64; // darken color-brand
		
	--color-site-bg: var(--color-black);
	--color-content-bg: var(--color-black-bg);
}

/// Container's maximum width
/// @type Length
$max-width: 670px !default;


/// Media Query Breakpoints 
$bp-small: 320px;
$bp-medium: 670px;
$bp-large: 1024px;

/// transition-timing-function
$timing-apple: cubic-bezier(0.4, 0, 0.25, 1);


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/images/' !default;
