// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif !default;
//$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$color-text: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$color-brand: rgb(229, 0, 80) !default;

/// Main brand color - light variant
/// @type Color
// $color-brand-light: rgb(229, 0, 80) !default; todo define

/// Light grey
/// @type Color
$color-light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$color-mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$color-dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;





/// transition-timing-function
$timing-apple: cubic-bezier(0.4, 0, 0.25, 1);





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/img/' !default;
