// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

:root {
  --color-white: #fff;
  --color-white-bg: #fdfdfd;

  --color-black: #000;
  --color-black-bg: #222;

  --color-grey-dark: #454545;
  --color-grey-light: #b8b8b8;

  --color-brand: #306e95;
  --color-brand-text: #73add2; // Lightened by 25%
  --color-brand-light: #3c8abc; // Lightened by 10%

  --color-focus: #306e958f;
  --color-hover: var(--color-brand-light);
}

@mixin includeLight {
  --color-text: #222;
  --color-text-light: var(--color-grey-dark);
	
  --color-site-bg: var(--color-grey-light); // Update manually in baseof.html (script)
  --color-content-bg: var(--color-white-bg);
}

@mixin includeDark {
  --color-text: var(--color-white-bg);
  --color-text-light: var(--color-grey-light);

  --color-site-bg: var(--color-black); // Update manually in baseof.html (script)
  --color-content-bg: var(--color-black-bg);
}

/// Container's maximum width
/// @type Length
$max-width: 670px !default;

/// Media Query Breakpoints 
$bp-small: 320px;
$bp-medium: 670px;
$bp-large: 1024px;

/// transition-timing-function
$timing-apple: cubic-bezier(0.4, 0, 0.25, 1);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/images/' !default;
