{{- /*
    Stylesheet: assets/sass/layout/_footer.scss
*/ -}}

<footer class="bar">
    {{ with .Site.GetPage "section" "posts" }}
        {{ with .OutputFormats.Get "RSS" }}
            <a href="{{ .RelPermalink | safeURL }}"
               type="application/rss+xml"
               rel="alternate"
               hreflang="{{ $.Language.LanguageCode }}">RSS</a>
        {{ end }}
    {{ end -}}

    <a href="https://github.com/momasta/omasta.net"
       target="_blank"
       title="{{ T "github-title" }}">GitHub</a>
</footer>
