{{- /*
    Stylesheet: assets/sass/layout/_sidebar.scss
*/ -}}

<aside>
    {{ with .Site.Menus.aside }}
        {{- range . -}}
            <div class="card">
                <h2>{{ .Name }}</h2>

                {{- with .Children }}
                    <ul class="links">
                        {{ range . }}
                            <li>
                                <a href="{{ .URL }}"
                                   {{ with .Params.rel }}rel="{{ . }}" target="_blank"{{ end }}
                                   {{ with .Title }}title="{{ . }}"{{ end }}>

                                    {{ if .Params.value -}}
                                        <span class="type-light">
                                        {{- .Name }}:&nbsp;</span>{{ .Params.value }}
                                    {{ else if .Params.description }}
                                        <span>{{ .Name }}<br></span>
                                        <span class="size-small">{{ .Params.description }}</span>
                                    {{ else }}
                                        {{ .Name }}
                                    {{ end }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                {{- end }}
            </div>
        {{- end -}}
    {{ end }}

    {{- $tags := .Site.Taxonomies.tags }}
    {{- if gt (len $tags) 0 }}
        <div class="card">
            <h2>{{ T "tags" }}</h2>

            <ul class="links">
                {{ range $name, $taxonomy := $tags }} {{ $count := .Count }}
                    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                        <li>
                            <a href="{{ .RelPermalink }}"
                               title="{{ T "tags-show-all" }} &#35;{{ .LinkTitle }}"
                               class="tag">
                                &#35;{{ .LinkTitle }}</a>&nbsp;<span class="size-small">({{ $count }})</span>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    {{- end }}

    {{- if not .IsHome -}}
        <div class="card">
            <h2>{{ T "latest-posts" }}</h2>
            <ul>
                {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>

            <ul class="links">
                <li>
                    <a href="{{ .Site.Home.RelPermalink }}">{{ T "all-posts" }}…</a>
                </li>
            </ul>
        </div>
    {{- end -}}
</aside>