article h2 {
  padding: 1em 0 0;
}

a.heading-link {
  color: var(--color-text);
  font-family: sans-serif; // Prevent emoji fallback
  opacity: 0;
  padding: 0.5rem;
  text-decoration: none;
  transition: opacity var(--ease), var(--transitions-a);
  @extend %no-interaction;
}

.heading-link {
  h2:hover &,
  h3:hover &,
  h2:focus-within &,
  h3:focus-within &,
  &:focus-visible,
  &.state-success {
    opacity: 1;
  }
}

h1 :any-link {
  text-decoration: none;
}

h1 :any-link,
h1 :any-link:hover {
  color: inherit;
}

h2 + h3,
p + h2 {
  padding-top: 0;
}

h2 + p {
  margin-top: 0;
}

h3 + p {
  margin: 0;
}

// More margin for multi-line list items

li br ~ a:last-child {
  display: inline-block;
  margin-bottom: 1em;
}
