article {
  time {
    font-size: 1rem;
  }
}

.article-content {
  margin-top: 1rem;

  // "Last updated" at the end of the article (if any)
  time {
    color: inherit;
  }
}

a.heading-link {
  opacity: 0;
  margin-left: 0.5rem;
  color: var(--color-text-light);
  text-decoration: none;
  transition: opacity var(--ease), var(--transitions-a);
  @extend %no-interaction;

  &::after {
    content: "#";
    font-family: sans-serif; // Prevents emoji fallback
  }

  &.state-success::after {
    content: "✓";
  }

  &:hover,
  &:focus-visible {
    color: var(--color-text);
  }

  h2:hover &,
  h3:hover &,
  h2:focus-within &,
  h3:focus-within &,
  &:focus-visible,
  &.state-success {
    opacity: 1;
  }
}

h1 a,
h1 a:visited {
  color: inherit;
  text-decoration: none;
  display: inline;
}

h1 + a.tag {
  margin-top: 0.5rem;
}

h2 + p {
  margin-top: 0;
}

h3+p {
  margin: 0;
}

p + h2,
h2:first-child {
  padding-top: 0;
}