article {
  time {
    font-size: 1rem;
  }

  h2 {
    padding: 1em 0 0;
  }

  h3 {
    top: 28px;
  }
}

.article-content {
  margin-top: 1rem;

  // "Last updated" at the end of the article (if any)
  time {
    color: inherit;
  }
}

a.heading-link {
  opacity: 0;
  margin-left: 0.5rem;
  text-decoration: none;
  transition: opacity var(--ease), var(--transitions-a);
  @extend %no-interaction;
  @extend %click-area-small;
  @include link-neutral;

  &::after {
    content: "#";
    font-family: sans-serif; // Prevent emoji fallback
  }

  &.state-success::after {
    content: "✓";
  }
  
  h2:hover &,
  h3:hover &,
  h2:focus-within &,
  h3:focus-within &,
  &:focus-visible,
  &.state-success {
    opacity: 1;
  }
}

h1 a,
h1 a:visited {
  color: inherit;
  text-decoration: none;
  display: inline;
}

h2 + h3 {
  padding-top: 0;
}

h2 + p {
  margin-top: 0;
}

h3 + p {
  margin: 0;
}

p + h2,
h2:first-child {
  padding-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

// More margin for multi-line list items

li br ~ a:last-child {
  display: inline-block;
  margin-bottom: 1em;
}
