div.card {
  width: 100%;
  background-color: var(--color-content-bg);
  padding: 24px 20px;
  margin: 8px 0;
  overflow: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  border-radius: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: background-color 200ms $timing-apple;

  a {
    span {
      display: inline-block;
      text-decoration: none;
      color: var(--color-text-light);
    }
  }

  // Interaction
  header & {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@mixin card-medium {
  header div.card {
    flex-wrap: nowrap;
  }
}
