.card {
  width: 100%;
  // See critical.scss: margin and padding

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;
  overflow-wrap: anywhere;

  transition: background-color var(--ease);
}

header .card {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin mq-min-medium-card {
  div.card {
    padding-left: 20px;
    padding-right: 20px;
  }

  header .card {
    flex-wrap: nowrap;
  }
}
