div.card {
	width: 100%;
	background-color: $color-white-bg;
	padding: 24px 20px;
	margin: 8px 0;
	overflow: hidden;
	word-wrap: break-word;
	border-radius: 16px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	h2 {
		margin: 0 0 16px;
		font-size: 20px;
	}

	span {
		display: inline-block;
		text-decoration: none;
		color: $color-grey-dark;

		& ~ a {
			padding: 10px 0;
			margin: 5px 0;
		}

		&.text-value {
			color: inherit;
			cursor: text;
			-webkit-user-select: all;
			-moz-user-select: all;
			user-select: all;
		}
	}

	a {
		br {
			& ~ span {
				font-size: 14px;
				margin: 0;
				color: $color-grey-dark;
			}
		}
	}
	
	
	// Interaction
	header & {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
