.card {
  width: 100%;
  background-color: var(--color-content-bg); // Update in baseof.html (background-color)
  padding: 24px 20px;  // Update in baseof.html
  margin: 8px 0;  // Update in baseof.html
  overflow: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  border-radius: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: background-color var(--ease);

  a {
    span {
      display: inline-block;
      text-decoration: none;
      color: var(--color-text-light);
    }
  }

  // Interaction
  header & {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@mixin mq-min-medium-card {
  header .card {
    flex-wrap: nowrap;
  }
}
