.card {
  width: 100%;
  margin: 8px 0;
  padding: 24px 20px;
  background-color: var(--color-content-bg);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;
  overflow-wrap: anywhere;

  transition: background-color var(--ease);

  // Interaction
  header & {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@mixin mq-min-medium-card {
  header .card {
    flex-wrap: nowrap;
  }
}
