// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

%top-bar {
	display: flex;
	padding: 0 8px;
	align-items: center;
	height: 1.4em; // Fixed height to prevent jumping (if empty)

	a {
		color: var(--color-text-light);
		
		// Increase size of active element
		padding: 13px 12px;
		margin: -13px 0;
	}
}

header {
	.top-bar {
		@extend %top-bar;
	}
	
	div.logo {
		transition: opacity 200ms $timing-apple;
		
		&:hover {
			opacity: 0.7;
		}
	
		a,
		a:visited {
			color: inherit;
			text-decoration: none;
		}

		a {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			padding: 10px;
			margin: -10px;
		}

		h1 {
			margin: 0;
			max-width: 100%;
		}

		img {
			width: 45px;
			height: 64px;
			margin-right: 20px;
		}
	}
	
	.top-bar {
		justify-content: flex-end;
	}
	
	
	// Default state
	button.toggle-theme-light {
		display: none;
	}
	
	html.theme-light & {
		button.toggle-theme-light {
			display: none;
		}
	}
	
	html.theme-dark & {
		button.toggle-theme-dark {
			display: none;
		}
		
		button.toggle-theme-light {
			display: flex;
		}
	}
}
