// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  @extend %no-interaction;
}

.logo {
  transition: opacity var(--ease);

  a,
  a:visited {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--color-text);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-hover);

    img {
      opacity: 0.6;
    }
  }

  img {
    width: 45px;
    height: 64px;
    margin-right: 20px;
    transition: opacity var(--ease);
  }
}
