// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
//
// themes/blank/layouts/_partials/layouts/header.html
//
// -----------------------------------------------------------------------------

header :any-link,
footer :any-link {
  text-decoration: none;
}

.logo {
  :any-link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 2rem;
  }

  &:hover,
  &:focus-visible {
    img {
      opacity: 0.6;
    }
  }

  img {
    margin-right: 20px;
    transition: opacity var(--ease);
  }
}
