// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
//
// themes/blank/layouts/partials/header.html
//
// -----------------------------------------------------------------------------

header {
  @extend %no-interaction;
}

header a,
footer a {
  text-decoration: none;
}

.logo {
  a,
  a:visited {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--color-text);
    font-size: 2rem;
  }

  a:hover,
  a:focus-visible {
    color: var(--color-hover);

    img {
      opacity: 0.6;
    }
  }

  img {
    width: 45px; // Update in baseof.html
    height: 64px; // Update in baseof.html
    margin-right: 20px;
    transition: opacity var(--ease);
  }
}
