// Custom overrides for Lightbox

body {
	.lb-outerContainer,
	.lb-closeContainer,
	.lb-number {
		@include no-interaction;
	}

	.lightbox {
		.lb-image {
			border: none;
			border-radius: 0;
		}
		
		.lb-outerContainer {
			background-color: black;
			border-radius: 0;
		}
		
		.lb-dataContainer {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		.lb-data .lb-close {
			background-position: center center;
			background-size: 18px 18px;
		}
    }
}


