nav {
  display: flex;
  align-items: center;
  margin: 16px 0 0 0;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: rem(18px);

    li + li {
      margin: 0 0 0 20px;
    }
  }

  a,
  a:visited {
    color: var(--color-text);
  }
  
  a:hover {
    color: var(--color-hover);
  }

  a {
    display: inline-block;
    white-space: nowrap;
    @extend %click-area-medium;

    header &,
    header &:hover {
      text-decoration: none;
    }
  }
}

@mixin nav-medium {
  header nav {
    margin: 16px 0;
  }
}
