nav {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}

// Table of Contents
h2 + nav {
  margin-top: 0;
  
  + h3 {
    margin-top: 1rem;
  }
}

@mixin mq-min-medium-nav {
  header nav {
    margin: 1rem 0;
  }
}