// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site.
//
// themes/blank/layouts/partials/sidebar.html
//
// -----------------------------------------------------------------------------

aside {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-width: 255px;
  
  .card {
    flex-grow: 0;
  }
}

@mixin mq-min-medium-aside {
  main + aside {
    margin-left: 1rem;
  }
}

