// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site.
//
// themes/blank/layouts/_partials/sidebar.html
//
// -----------------------------------------------------------------------------

$aside-min-width: 255px;

aside {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($aside-min-width, 1fr));
  gap: 1rem;
  margin: 0.5rem 0;
  min-width: $aside-min-width;
  
  .card {
    margin: 0;
  }
  
  ul {
    margin-left: 1.5rem;
  }
}