// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site.
//
// themes/blank/layouts/_partials/layout/sidebar.html
//
// -----------------------------------------------------------------------------

$aside-min-width: 255px;

aside {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($aside-min-width, 1fr));
  gap: 1rem;
  margin: 0.5rem 0;

  &:not(:empty) {
    min-width: $aside-min-width;
  }

  .card {
    margin: 0;
  }

  a {
    @extend %click-area-small;
    @include link-neutral;
  }

  ul {
    margin-left: 1.5rem;
  }
}