<header>
	<div class="top-bar">
		<button class="style-plain size-small toggle-theme-dark"
				title="{{ i18n "switch-theme-dark" }}"
				type="button">
			<span class="icon">
				{{ readFile "themes/blank/static/images/icons/moon.svg" | safeHTML }}
			</span>
		</button>
		
		<button class="style-plain size-small toggle-theme-light"
				title="{{ i18n "switch-theme-light" }}"
				type="button">
			<span class="icon">
				{{ readFile "themes/blank/static/images/icons/sun.svg" | safeHTML }}
			</span>
		</button>
	
		{{ if .Site.IsMultiLingual }}
			{{ range $.Translations }}
				<a title="{{ i18n "switch-language" }}"
				   href="{{ .Permalink }}"
				   lang="{{ .Language }}"
				   hreflang="{{ .Language }}">
					{{ .Language.LanguageName }}
				</a>
			{{ end }}
		{{ end }}		
	</div>
	
	<div class="card">
		<div class="logo">
			<a href="/">
				<img src="/images/profile-picture.png" alt="Profile picture">
				<h1>{{ .Site.Title }}</h1>
			</a>
		</div>
					
		{{- $currentPage := . -}}
		{{ with .Site.Menus.main }}
		 <nav>
			 <ul>
				 {{ range . }}
				 <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
					 <a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				 {{ end }}
			 </ul>
		 </nav>
		 {{ end }} 
	</div>
</header>
