<header>
	{{ if .Site.IsMultiLingual }}
		<div id="language-switcher">
			{{ range $.Translations }}
				<a title="{{ i18n "switch-language" }}{{ .Language.LanguageName }}"
				   href="{{ .Permalink }}"
				   lang="{{ .Language }}"
				   hreflang="{{ .Language }}">
					{{ .Language.LanguageName }}
				</a>
			{{ end }}
		</div>
	{{ end }}		
	<div class="card">
		<div class="logo">
			<a href="/">
				<img src="/images/profile-picture.png" alt="Profile picture">
				<h1>{{ .Site.Title }}</h1>
			</a>
		</div>
					
		{{- $currentPage := . -}}
		{{ with .Site.Menus.main }}
		 <nav>
			 <ul>
				 {{ range . }}
				 <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
					 <a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				 {{ end }}
			 </ul>
		 </nav>
		 {{ end }} 
	</div>
</header>
