{{- /*
    assets/sass/components/_pagination.scss
*/ -}}

{{ if gt .Paginator.TotalPages 0 }}
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
        {{ end }}
        {{ .Paginator.PageNumber }} {{ T "posts-of" }} {{ .Paginator.TotalPages }}
        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">Next Page</a>
        {{ end }}
    </div>
{{ else }}
    {{ T "no-posts-yet" }}
{{ end }}

