<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-gb" }}" class="theme-light">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Perform before rendering page -->
	<script>
		const html = document.documentElement;
		const hasLocalStorage = localStorage.getItem('theme');
		
		if (hasLocalStorage === 'theme-dark') {
			html.classList.add('theme-dark');
		}
	</script>
	
	<!-- Critical CSS -->
	<style>
        :root {
            color-scheme: light dark;
        }
        
		html.theme-dark {
			background-color: #000;
		}
		
		html.theme-light .toggle-theme-light {
			display: none;
		}
		
		html.theme-dark .toggle-theme-dark {
			display: none;
		}
		
		html.theme-dark .card {
			background-color: #222;
		}
		
		a:visited {
			color: inherit;
		}
	</style>
	
	<!-- Site Information -->
	
	<title>
		{{ if not .IsHome }}
			{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}
		{{ end }}
		{{ .Site.Title }}
	</title>
	
	{{ with .Site.Params.description }}
		<meta name="description" content="{{ . }}">
	{{ end }}
	
	{{ with .Site.Params.author }}
		<meta name="author" content="{{ . }}">
	{{ end }}
	
	{{ if .Keywords }}
  		{{ with .Keywords }}
  			<meta name="keywords"
  				  content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
  		{{ end }}
    {{ end }}

	<!-- Shortcut Icons -->
	<link rel="icon" href="/images/favicon.jpg" sizes="32x32">
	<link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
	<link rel="icon" href="/images/favicon-192.jpg">
	<link rel="apple-touch-icon-precomposed" href="/images/favicon-180.jpg">

	<!-- Stylesheet -->
	{{ $main_options := (dict "targetPath" "css/site.css" "outputStyle" "compressed") }}
	{{ $main_template := resources.Get "sass/main.scss" }}
	{{ $main_style := $main_template | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $main_options | resources.Minify }}
	<link rel="stylesheet" href="{{ print $main_style.RelPermalink "?" now.Unix }}">
		
	<!-- Apple-Specific Meta Tags -->
	<meta name="theme-color" content="#eeeeee" media="(prefers-color-scheme: light)">
  	<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
	<meta name="format-detection" content="telephone=no">
	
	<!-- OG Tags -->
	{{ template "_internal/opengraph.html" . }}
	
	<!-- RSS -->
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>

<body{{ with .Type }} class="{{ . }}" {{ end }} ondragstart="return false;" ondrop="return false;" draggable="false">

<!-- Dark mode handling, integral part -->
	<script>
		// From https://codepen.io/MrGrigri/details/XQmWBv, modified
		
		const themeColorLight = '#eeeeee';
		const themeColorDark = '#000000';
		
		const themePreference = () => {
			let supports = false;
			let theme = undefined;
			
			if (hasLocalStorage === 'theme-light') {
				theme = 'theme-light';
			} else if (hasLocalStorage === 'theme-dark') {
				theme = 'theme-dark';
			}

			if (window.matchMedia(`(prefers-color-scheme: dark)`).matches) {
				theme = hasLocalStorage ? hasLocalStorage : 'theme-dark';
				supports = true;
			};
			
			if (window.matchMedia(`(prefers-color-scheme: light)`).matches) {
				theme = hasLocalStorage ? hasLocalStorage : 'theme-light';
				supports = true;
			};
			
			if (window.matchMedia(`(prefers-color-scheme: no-preference)`).matches) {
				theme = hasLocalStorage ? hasLocalStorage : 'none';
				supports = true;
			};
			
			return {supports, theme};
		}


		document.addEventListener('DOMContentLoaded', e => {			
			const userThemePreference = themePreference();
			const toggleThemeLight = document.querySelector('.toggle-theme-light');
			const toggleThemeDark = document.querySelector('.toggle-theme-dark');
			const metaThemeColor = document.querySelectorAll('meta[name="theme-color"]');
				
			const setThemeDark = () => {
				html.classList.add('theme-dark');
				html.classList.remove('theme-light');
				
				metaThemeColor.forEach(function (tag) {
					tag.setAttribute('content', themeColorDark);
				});
			}
			
			const setThemeLight = () => {
				html.classList.remove('theme-dark');
				html.classList.add('theme-light');
				
				metaThemeColor.forEach(function (tag) {
					tag.setAttribute('content', themeColorLight);
				});
			}
				
			const setTheme = () => {
				switch(userThemePreference.theme) {
					case 'theme-dark':
						setThemeDark();
						break;
					case 'theme-light':
						setThemeLight();
						break;
				}
			}
			
			setTheme();
			
			toggleThemeDark.addEventListener('click', e => {
				setThemeDark();
				localStorage.setItem('theme', 'theme-dark');
			}, false);
				
			toggleThemeLight.addEventListener('click', e => {
				setThemeLight();
				localStorage.setItem('theme', 'theme-light');
			}, false);
		}, false);
	</script>

	<div id="content">
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
</body>
</html>
