{{ define "main" -}}
    
    {{- partial "header" . -}}

    {{ $datePublished := .PublishDate.Format .Site.Params.dateFormat | safeHTML }}
    {{ $datePublishedISO := .PublishDate.Format .Site.Params.dateFormatISO | safeHTML }}
    {{ $dateModified := .Lastmod.Format .Site.Params.dateFormat | safeHTML }}
    {{ $dateModifiedISO := .Lastmod.Format .Site.Params.dateFormatISO | safeHTML }}

    {{/* Append date modififed to multi-line title="", if modified since publish date */}}
    {{ $dateModifiedText := "" }}
    {{ if .Lastmod }}
        {{ if ne $dateModified $datePublished }}
            {{- $dateModifiedText = printf "\n%s %s" (T "last-mod-short") $dateModified -}}
        {{ end }}
    {{ end }}

    <div id="middle">
        <main>
            <div class="card">
                <article>
                    <h1>
                        <a href="{{ .RelPermalink }}" rel="bookmark" aria-current="page">{{ .Title }}</a>
                    </h1>

                    {{- range .Params.tags -}}
                        {{ $name := . }}

                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
                           title="{{ T "tags-show-all" }} &#35;{{ with index site.Taxonomies.tags $name }}{{ .Page.Title }}{{ end }}"
                           class="tag">&#35;{{ with index site.Taxonomies.tags $name }}{{ .Page.Title }}{{ end }}</a>
                    {{- end -}}

                    <time datetime="{{- cond $dateModifiedText $dateModifiedISO $datePublishedISO -}}"
                          title="{{ T "published" }} {{ $datePublished }}{{ $dateModifiedText }}">
                        {{- if $dateModifiedText -}}
                            {{- T "last-mod-short" }} {{ $dateModified -}}
                        {{- else -}}
                            {{- $datePublished -}}
                        {{- end -}}
                    </time>

                    {{ with .Params.main_content_id }}
                        <p>&#x2193; <a href="#{{ . }}">{{ T "skip-to-main-content" }}</a></p>
                    {{ end }}
                      
                    <div class="article-content">
                        {{ .Content }}
                        {{- if .Lastmod -}}
                            {{- if ne $dateModified $datePublished -}}
                                <p>
                                    {{- T "published" }}
                                    <time datetime="{{ $datePublishedISO }}">
                                        {{- $datePublished -}}
                                    </time><br>
                                    
                                    {{- T "last-mod" }}
                                    <time datetime="{{ $dateModifiedISO }}">
                                        {{- $dateModified -}}
                                    </time>
                                </p>
                            {{- end -}}
                        {{- end -}}
                    </div>
                </article>
            </div>
        </main>
    </div>
    
    {{- partial "sidebar.html" . -}}
{{ end }}
