{{ define "main" }}
    {{ partial "header" . }}

    {{ $datePublished := .PublishDate | time.Format .Site.Params.DateFormat }}
    {{ $dateModified := .Lastmod | time.Format .Site.Params.DateFormat }}

    {{ $dateModifiedText := "" }}
    {{ if .Lastmod }}
        {{ if ne $dateModified $datePublished }}
            {{- $dateModifiedText = printf "\n%s %s" (i18n "last-mod-short") $dateModified -}}
        {{ end }}
    {{ end }}

    <div id="middle">
        <main>
            <div class="card">
                <article>
                    <h1>{{ .Title }}</h1>

                    {{- range .Params.tags -}}
                        {{ $name := . }}

                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
                           title="{{ T "tags-show-all" }} #{{ with index site.Taxonomies.tags $name }}{{ .Page.Title }}{{ end }}"
                           class="tag">#{{ with index site.Taxonomies.tags $name }}{{ .Page.Title }}{{ end }}</a>
                    {{- end -}}

                    <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05" }}"
                          title="{{ T "published" }} {{ $datePublished }}{{ $dateModifiedText }}">{{- $datePublished -}}</time>

                    <div class="article-content">
                        {{ .Content }}
                        {{- if .Lastmod -}}
                            {{- if ne $dateModified $datePublished -}}
                                <p>{{ T "last-mod" }}
                                    <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">
                                        {{- $dateModified -}}
                                    </time>
                                </p>
                            {{- end -}}
                        {{- end -}}
                    </div>
                </article>
            </div>
        </main>
    </div>
    {{ partial "sidebar.html" . }}
{{ end }}
