{{ $datePublished := .PublishDate.Format .Site.Params.dateFormat | safeHTML }}

<li class="post-preview">
    <a href="{{ .RelPermalink }}">{{ .Title }}<br>
        <span class="post-summary">
            {{- .Summary | plainify | truncate 160 "…" -}}
        </span></a>

    {{- range .Params.tags -}}
    {{- $name := . -}}
    {{- with index site.Taxonomies.tags $name -}}
        {{- $title := .Page.Title -}}
        <a href="{{ .Page.RelPermalink }}"
           class="tag"
           title="{{ T "tags-show-all" }} &#35;{{ $title }}">&#35;{{- $title -}}</a>
    {{- end -}}
    {{- end -}}
    <time datetime="{{- .PublishDate.Format .Site.Params.dateFormatISO | safeHTML }}">
        {{- $datePublished -}}
    </time>
</li>
