{{ $datePublished := .PublishDate | time.Format .Site.Params.DateFormat }}

<li class="post-preview">
    <a href="{{ .Permalink }}">{{ .Title }}</a>

    <div class="post-summary">
        {{ .Summary | plainify }}
    </div>

    {{- range .Params.tags -}}
        {{ $name := . }}
        {{- with index site.Taxonomies.tags $name -}}
            {{ $title := .Page.Title }}
            <a href="{{ .Page.RelPermalink }}"
               class="tag"
               title="{{ i18n "tags-show-all" }} #{{ $title }}">#{{- $title -}}</a>
        {{- end -}}
    {{- end -}}<!--
    --><time datetime="{{ $datePublished }}">
        {{- $datePublished -}}
    </time>
</li>
