{{ define "main" }}

    {{ partial "header" . }}
    
    <div id="middle">
        <main>
            <div class="card">
                <article>
                    <h1>{{ T "tag-heading" }}{{ .Title }}</h1>

                    <div class="article-content">
                        {{ .Content }}
                        <ul id="tags">
                            {{ range .Pages }}
                                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </article>
            </div>
        </main>
    </div>
{{ end }}
