{{- /*
    Stylesheet: assets/sass/layout/_footer.scss
*/ -}}

<footer class="bar type-larger-click-areas state-interaction-disabled" id="footer">
    {{ with (.Site.GetPage "section" "posts").OutputFormats.Get "RSS" }}
        <a href="{{ .RelPermalink | safeURL }}"
           type="application/rss+xml"
           rel="alternate"
           hreflang="{{ $.Language.Locale }}">RSS</a>
    {{ end -}}

    {{ with .Site.Params.repo }}
        <a href="{{ .URL }}"
           target="_blank"
           title="{{ T "repo-title" (dict "title" .Title) }}">{{ .linkTitle }}</a>
    {{ end }}
</footer>
