name: Publish

on:
  push:
    branches:
    - '**'
  #schedule:
    #- cron:  '0 8 * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.104.3'
        extended: true

    - name: Build
      run: hugo --minify --cleanDestinationDir --gc --ignoreCache

    - name: Set file permissions
      run: chmod -R 755 .

    - name: Deploy
      uses: SamKirkland/FTP-Deploy-Action@4.3.2
      with:
        server: omasta.net
        username: w300076
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: public/
        server-dir: www/subdom/marek/
