name: Publish

on:
  push:
    branches:
    - '**'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install convmv
      run: sudo apt-get install -y convmv
    
    - name: Normalise filenames
      run: convmv -r -f utf8 -t utf8 --nfc --notest .

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        extended: true

    - name: Build
      run: hugo --minify --cleanDestinationDir --gc --ignoreCache

    - name: Set file permissions
      run: chmod -R 755 .

    - name: Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: omasta.net
        username: w300076
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: public/
        server-dir: www/subdom/marek/
