name: Publish

on:
  push:
    branches:
    - master
  schedule:
    - cron:  '0 8 * * *'

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@2.5.0
      with:
        hugo-version: '0.104.3'

    - name: Build
      run: hugo --minify

    - name: Deploy
      uses: SamKirkland/FTP-Deploy-Action@4.3.2
      with:
        ftp-server:  omasta.net
        ftp-username: w300076
        ftp-password: ${{ secrets.FTP_PASSWORD }}
        local-dir: public/
        server-dir: www/subdom/test/
